<div class="dashboard-container">
  <div class="header">
      <img src="logoJCYL.png" alt="JCYL" class="logo">
      <h1 class="title">EduCFusion</h1>
      <button class="logout-button" (click)="logout()">Cerrar sesión</button>
  </div>
  <p class="welcome-message">Bienvenido, {{ usuario?.nombre }}</p>

  <div class="panels-container">
    <div class="panel" (click)="navigateTo('listadosCentros')">Buscar Centros Educativos</div>
    <div class="panel" (click)="navigateTo('estadisticasYResultados')">Estadisticas y Resultados Académicos</div>
    <div class="panel" (click)="navigateTo('panel3')">Generación de Informes</div>
  </div>

  <div class="panels-container second-row">
    <div class="panel" (click)="navigateTo('panel4')">Mapas Interactivos</div>
    <div class="panel" (click)="navigateTo('opinionUsuario')">Opiniones de Usuarios</div>
  </div>
</div>
