/* Estilo del contenedor de opiniones */
.opinion-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start;
  width: 80%; 
  height: 100vh;
  padding: 20px;
  box-sizing: border-box; 
  margin: 0 auto; 
}

/* Estilo del título */
.title {
  font-size: 45px;
  font-weight: bold;
  color: #4a90e2;
  text-align: center;
  width: 100%; 
  margin: 0;
}

/* Contenido principal */
.main-content {
  display: flex;
  justify-content: space-between;
  width: 100%; 
  flex-grow: 1;
  margin-top: 40px;
}

/* Sección del formulario */
.form-section {
  flex: 0 0 40%; 
  margin-right: 30px;
}

/* Sección de opiniones */
.opiniones-section {
  flex: 0 0 60%; 
  overflow-y: auto;
}

/* Estilo de los campos de entrada */
.input-group {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.half-width {
  width: 100%;
}

.full-width {
  width: 100%;
}

/* Botones */
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.login-button {
  background-color: #007BFF;
  color: white;
  border: none;
  width: 48%;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.login-button:hover {
  background-color: #0056b3;
}

/* Tabla */
.mdc-data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.mat-header-cell, .mat-cell {
  padding: 12px;
  text-align: left;
}
.mat-mdc-table{
  background-color: white;
}

/* Estilo para el encabezado de la tabla */
.mat-sort-header {
  cursor: pointer;
}

/* Paginador */
.mat-paginator {
  margin-top: 20px;
}

/* Estilo de mensajes de error */
mat-error {
  color: red;
  font-size: 12px;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.valoraciones-title{
  text-align: center;
}

